header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

nav a{
    text-decoration: none;
    
}
nav{
    display: flex;
    gap:10px
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    
    border: 2px dotted;
    margin-top: 25px;
}

.blog2{
    background-color: aliceblue;
    margin-top: 25px;
    overflow: scroll;
}
.copyright{
    text-align: center;
}